body{
     background-image: url('https://image.freepik.com/free-photo/person-drawing-symbols-coming-out-light-bulb-top-book_1232-909.jpg') ;
  /*  background-image: url('https://storage.googleapis.com/gweb-uniblog-publish-prod/images/search_anchor_hero_2.max-1000x1000.jpg') ;*/
    
  
}

#header{
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    background: blueviolet;
    color: #ffffff;
    width:45%;
}
